{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
            <h1 class="mb-2 mb-lg-0">Portfolio Details</h1>
        </div>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper init-swiper">

                        <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>

                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <div class="col-lg-6">

                                    <div class="swiper-slide">
                                        <h2>Car Maintenance</h2><br><br>
                                        <img src="{% static 'assets/img/car.PNG'%}" alt="">
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info" data-aos="fade-up" data-aos-delay="200">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Web application</li>
                            <li><strong>Title</strong>: Car Maintenance</li>
                            <li><strong>Framework</strong>: Django</li>
                        </ul>
                    </div>
                    <div class="portfolio-description" data-aos="fade-up" data-aos-delay="300">
                        <h2>CarServ: Car Maintenance System</h2>
                        <p>
                            The car maintenance website developed with Django provides users with a comprehensive
                            platform to manage their vehicle upkeep. Users can schedule maintenance appointments,
                            track service history, and receive timely reminders for essential services. With an
                            intuitive interface, the site also offers resources on maintenance tips and guides,
                            ensuring users stay informed about their vehicle's health.
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- /Portfolio Details Section -->

</main>
{% endblock content %}